{% extends 'base.html' %}
{% block content %}

<h1>{{ group.name }} </h1>
{% if posts.count %}
{% for post in posts %}
<a href="{% url 'post_detail' group.id post.id%}">
    <div class="card">
        <div class="card-content">
            <h5>
                @{{ post.user }}
            </h5>
            <p>{{ post.content }}</p>
        </div>
    </div>
</a>
    {% endfor %}
{% endif %}
<button class="borderButton black button">
    <a href="{% url 'post_create' group.id %}" >
        Create Post
    </a>
</button>
{% endblock %}