{% extends 'base.html' %}
{% block content %}
<div class="card">
        <div  class="card-content">
            <span class="card-title">{{ post.content }}</span>
            <p>user: {{ post.user }}</p> 
            <p>Date: {{ post.date }}</p> 
        </div>
        <div>
            <a href="{% url 'like_post' post.group.id post.id %}">Like This Post/Unlike This Post</a>
            {% if post.no_of_likes == 0 %}
                <p>No Likes</p>
            {% elif post.no_of_likes == 1 %}
                <p>{{post.no_of_likes}} person liked this post</p>
            {% else %}
                <p>Liked by {{post.no_of_likes}} people</p>
            {% endif %}
        </div>
        {% if user == post.user %}
            <div class="card-action">
                <a href="{% url 'post_update' post.group.id post.id %}">Edit</a>
                <a href="{% url 'post_delete' post.group.id post.id %}">Delete</a>
            </div>
        {% endif %}
        <div>
            <div class="col s6">
                <form action="{% url 'add_comment' post.group.id post.id %}" method="POST">
                  {% csrf_token %}
                  {{ comment_form.as_p }}
                  <input type="submit" class="btn" value="Add Comment">
                </form>
            </div>
        </div>
</div>
{% for comment in post.comment_set.all %}
    <div class="card">
        <h5>{{ comment.user }}</h5>
        <div class="card-content"> {{ comment.content }}</div>
        <div class="card-content"> {{ comment.date }}</div>
    </div>
    {% endfor %}
{% endblock %}