{% extends 'base.html' %}
{% block content %}
<div class="card">
        <div  class="card-content">
            <a class="likes-container right" href="{% url 'like_post' post.group.id post.id %}">
                <i class="material-icons">thumb_up</i>
                <div>
                    {% if post.no_of_likes == 0 %}
                        <p>No Likes</p>
                    {% elif post.no_of_likes == 1 %}
                        <p>{{post.no_of_likes}} person liked this post</p>
                    {% else %}
                        <p>Liked by {{post.no_of_likes}} people</p>
                    {% endif %}
                </div>
            </a>
            <span class="post-content card-title">{{ post.content }}</span>
            <p>from {{ post.user }}</p> 
            <p>on {{ post.date }}</p> 
        </div>

        {% if user == post.user %}
            <div class="card-action">
                <a href="{% url 'post_update' post.group.id post.id %}">Edit</a>
                <a href="{% url 'post_delete' post.group.id post.id %}">Delete</a>
            </div>
        {% endif %}
        <div>
            <div class="col s6">
                <form action="{% url 'add_comment' post.group.id post.id %}" method="POST">
                  {% csrf_token %}
                  {{ comment_form.as_p }}
                  <input type="submit" class="btn" value="Add Comment">
                </form>
            </div>
        </div>
</div>
{% for comment in post.comment_set.all %}
    <div class="card">
        <div class="comment-container">
            <span class="comment-content card-title">{{ comment.content }}</span>
            {% if user == comment.user %}
            <div>
                <div class="col s6">
                    <form action="{% url 'remove_comment' post.group.id post.id comment.id%}" method="POST">
                      {% csrf_token %}
                      <input type="submit" class="btn" value="X">
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <p>from {{ comment.user }}</p> 
        <p>on {{ comment.date }}</p> 
    </div>
    {% endfor %}
{% endblock %}