{% extends 'base.html' %}
{% block content %}

  <div class="row">
    <div class="col s12"></div>
  </div>
  <div class="row">
  
    <div class="col s3">
      <img class="circle responsive-img" src="{{ user.profile.profileimg.url }}" width="180px">

    </div>
  
    <div class="col s9">
    </div>
  
  </div>
  <hr class="grey darken-4">
  <div class="row">
    
    <div class="col s4">
      <!-- Grey navigation panel -->
      <div class="section">
        {% if user.profile.bio == "" %}
        <p></p>
        {% else %}
        <h5>About me</h5>
        <p>{{user.profile.bio}}</p>
        {% endif %}
      </div>
    </div>

    <div class="col s8">
      <!-- Teal page content  -->
      <div class="section">
        <h5>Blockname</h5>
        <p>@{{user.profile.user}}</p>
        <div class="divider"></div>
      </div>
      <!-- <div class="section">
        <h5>Bio</h5>
        <p>{{user.profile.bio}}</p>
      </div>
      <div class="divider"></div> -->
      <div class="section">
        <h5>Birthday</h5>
        {% if user.profile.birth_date == null %}
        <p>No Birthday Listed</p>
        {% else %}
        <p>{{user.profile.birth_date}}</p>
        <div class="divider"></div>
        {% endif %}
      </div>
      <div class="section">
      {% if user.profile.state == "" %}
        <p></p>
        {% else %}
        <h5>Block that I currently belong to</h5>
        <p>{{user.profile.state}}</p>
        <div class="divider"></div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if request.user == user.profile.user %}
  <div class="row">
    <div class="col s6">
      <a class="waves-effect waves-light btn-large" href="{% url 'profile_update' user.id %}">Update Street Cred</a>
    </div>
    <div class="col s6">
      <a class="waves-effect waves-light btn-large" href="{% url 'profile_delete' user.id %}">Leave the Block</a>
    </div>
  </div>
  {% endif %}

{% endblock %}