{% extends 'base.html' %}
{% block content %}

<h2>Profiles</h2>
<div class="card">
    <a href="{% url 'profiles_detail' user.id %}">
    <h3>My Profile : {{logged_in_user.username}} </h3>
    </a>
</div>
<h3>List of other users</h3>
{% for user in users %}
    <div class="card">
        <a href="{% url 'profiles_detail' user.id %}">
            <div  class="card-content">
                <span class="card-title">{{ user.username }}</span>
                {% if user.profile.state %}
                <p>State: {{ user.profile.state }}</p>  
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}
{% endblock %}