{% extends 'base.html' %}
{% block content %}

{%if request.user == post.user %}

  <h4>Are you sure you want to delete <br> <span class="teal-text">{{ post.content }}</span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="white black-text btn">
    <a href="{% url 'post_detail' object.group.id object.id %}">Go Back To Post</a>
  </form>
{% endif %}
{%if request.user != post.user %}
  <h3>You cannot delete this entry</h3>
{% endif %}

{% endblock %}