{% extends 'base.html' %}

{% block content %}
  {%if request.user == profile.user %}

  <div class="row" height="100%">
    <div class="col s12">
      <h3>Update <span class="teal-text">@{{ user.profile.user }}'s </span> street cred</h3>
    </div>
  </div>
  <div class="row" height="100%">
    <div class="col s12">
      <img class="circle responsive-img" src="{{ user.profile.profileimg.url }}" width="180px">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="responsive-table">
          {{ form.as_p }}
        </table>
        <input type="submit" value="Submit!" class="white black-text btn">
      </form>
    </div>
  </div>
  {% endif %}
  {%if request.user != profile.user %}
      <h3>You cannot edit this profile</h3>
      <button>please return to your lane </button>
  {% endif %}
  <script>
    const dateEl = document.getElementById('id_birth_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      autoClose: true
    });
    const selectEl = document.getElementById('id_state');
    M.FormSelect.init(selectEl);
   </script>
{% endblock %}