{% extends 'base.html' %}
{% block content %}
<div class="card">
        <div  class="card-content">
            <span class="card-title">{{ post.content }}</span>
            <p>user: {{ post.user }}</p> 
            <p>Date: {{ post.date }}</p> 
        </div>
        {% if user == post.user %}
            <div class="card-action">
                <a href="{% url 'global_post_update' post.id %}">Edit</a>
                <a href="{% url 'global_post_delete' post.id %}">Delete</a>
            </div>
        {% endif %}
        <div>
            <form action="{% url 'add_comment' post.id %}" method="POST">
              {% csrf_token %}
              {{ comment_form.as_table }}
              <button class="btn" type="submit">Add this comment</button>
            </form>
        </div>
</div>
{% endblock %}