{% extends 'base.html' %}
{% block content %}

<h1>Global Posts </h1>
    <div class="center">
        <a class="waves-effect waves-light btn" href="{% url 'global_post_create' %}">Create Post</a>
    </div>

{% if posts.count %}
    {% for post in posts %}
        <div class="card hoverable">
            <a href="{% url 'global_post_detail' post.id %}">
                <div  class="card-content">
                    <span class="card-title">{{ post.content }}</span>
                    <p>user: {{ post.user }} from {{ post.user.profile.state }}</p> 
                    <p>{{ post.date }}</p> 
                </div>
            </a>
        </div>
    {% endfor %}
{% else %}
        <h3>There are no posts right now</h3>
{% endif %}
{% endblock %}