{% extends 'base.html' %}
{% block content %}

<div>
  <h3>Street Smarts</h3>
  <p>Here's how to use the site.<br>
    To make a new profile, click on "Sign Up" in the navagation bar.  To log in, click "Log In".<br>
    Once you're in, you'll be able to view everyone's profile on the "Profiles" page.  To view your own, click on "My Profile" at the top of this page.  You can then edit it by clicking the "Edit" button, and you'll then be taken to a new page where you can change your state, bio, birth date, and profile image.<br>
    To view the blocks that you're a part of, click on "Blocks" in the nav bar.  You'll always belong the "Global" block, but note that you'll only belong to one state block at a time.  You can click on a block to view all the posts in that block.<br>
    You can make your own post in a block by clicking on the "Create Post" button.  Once you submit a post, everyone who belongs to the block you're posting in will be able to see it.<br>
    By clicking on a post, you'll be taken to its detail page, where you can edit or delete it if it's your own post.  You can also add comments, which you can delete if they're your own, and like/unlike a post by clicking the appropriate icon.  Note that while the number of people who like the post is displayed, the specific people who liked it are not listed.<br>
    That's about all you need to know for now.  Enjoy the party!</p>
</div>

<div>
  <h3>History</h3>
  <p>The party was started in the week of late October/early November 2022 by a team of 3 developers during General Assembly's intensive ssoftware engineering course.</p>
  <h4>Meet the Devs</h4>
  <p>Go to the Profiles page to find these people:</p>
  <ul>
    <li>Kheffy Cervantez</li>
    <li>Benno Ellison</li>
    <li>Chris Gallegos</li>
  </ul>
</div>

{% endblock %}