{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Block Party</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="grey darken-1 white-text">
  <div class="banner">
  <header>
    <nav class="transparent white-text">
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}" class="brand-logo">&nbsp;&nbsp;Block Party</a></li>
        </ul>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <!-- changes below -->
            <li> <a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'profiles_index' %}">View Profiles</a></li>
            <li><a href="{% url 'groups_index' %}">View Blocks</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% if request.user == user.profile.user %}
              <li>
                <a href="{% url 'profiles_detail' user.id %}">
                  <img class="circle responsive-img" src="{{ user.profile.profileimg.url }}" 
                  width="70px" alt="" style="margin-top:10px;">
                </a>
              </li>
            {% endif %}
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
  </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <!-- changes below -->
        <li> <a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'profiles_index' %}">View Profiles</a></li>
        <li><a href="{% url 'groups_index' %}">Groups</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        <li><img class="circle responsive-img" src="{{user.profile.profileimg.url}}" 
          width="100px" alt="" style="margin-left:25px;"></li>
      {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>
  </header>
  <main class="center-align container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="center-align foot">
    <p class="">All Rights Reserved, &copy; 2022 Block Party &nbsp;</p>  </footer>
  </footer>
</div>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
    console.log('working!')
  });
</script>
</html>