

{% extends 'base.html' %}
{% block content %}
  <h3>{{user_object.profile.user}}</h3>
  <h3>{{user_object.profile.bio}}</h3>
  <h3>{{user_object.profile.state}}</h3>
{% if user_object.profile.birth_date == null %}
  <h5>No Birthday Listed</h5>
{% else %}
  <h3>{{user_object.profile.birth_date}}</h3>
{% endif %}
  <div class="card-action">
      <a href="{% url 'profile_update' user.id %}">Edit</a>
      <a href="{% url 'profile_delete' user.id %}">Delete</a>
  </div>
  <div>
    {% if user_posts.count %}
      {% for posts in user_posts %}
        <div>{{posts.content}}</div>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}