body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container{
  min-height: 89vh;
}

.sidenav-overlay {
  z-index: 996;
}

#list {
  margin-bottom: 50px;
  color: white;
  text-align: center;
}

.profile-cont, .profilehead {
  text-align: center;
  font-size: 35px;
  color: white;
}

.profilehead {
  font-size: 50px;
}

.profilehead:hover {
  text-decoration: underline;
}

.cardi {
  margin-top: 25px;
  color: white;
  transition: transform .2s;
}

.cardi:hover {
  transform: scale(1.3);
}

.state1 {
  margin: -10px;
}

#big-title {
  margin: 0 auto;
  padding: 0
}

.blocks-title {
  text-align: center;
  color: white;
}

.blocks-in {
  color: white;
  font-size: 40px;
  text-align: center;
}

.block-content {
  margin: 75px;
  transition: transform .2s;
}

.block-content:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
  font-weight: bolder;

}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.blocks-title, .block-content {  
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background: #333;
  padding: 30px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.70)),url(https://images.pexels.com/photos/274192/pexels-photo-274192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

.welcome {
  margin-top: 300px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.block {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.navlinks {
  transition: transform .2s;
}

.navlinks:hover {
  transform: scale(1.1);
  font-weight: bolder;

}
